// Background Index

.Background_Index{
    background: #0f0a05;
}

.DivBack{
    background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/27813wide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}