// Import de distintos Scss

@import "Background";
@import "FuentesLetras";
@import "Modal";

// Definición del tamaño del html del proyecto
html{ 
    font-size: 62.5%;
}

// Definición para los margenes y padding del proyecto
*{ 
    margin: 0; 
    padding: 0;
}